html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.footer {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.header, .footer {
    background-color: beige;
    color: rgb(15,64,117);
}
.align-items-end {
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

